<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container overflow-hidden mt-3 ">
        <div class="row gy-5">
        <% blogs.forEach(blog => { %>
            <div class="col" style="width: 18rem;">
                <div class="card col" style="width: 18rem;">
                    <img src="<%= blog.coverImageURL %>" class="card-img-top" width="290px" height="160px"  alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
    <%- include('./partials/script') %>
</body>
</html>